/**** This CSS is Made for KBBI Project ****/

@font-face {
    font-family: Comfortaa;
    src: local("./fonts/Comfortaa-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Quicksand Bold;
  src: url("./fonts/Quicksand_Bold.otf") format("opentype");
}
@font-face {
  font-family: Quicksand Book Oblique;
  src: url("./fonts/Quicksand_Book_Oblique.otf") format("opentype");
}
@font-face {
  font-family: Quicksand Book;
  src: url("./fonts/Quicksand_Book.otf") format("opentype");
}
@font-face {
  font-family: Quicksand Dash;
  src: url("./fonts/Quicksand_Dash.otf") format("opentype");
}
@font-face {
  font-family: Quicksand Light;
  src: url("./fonts/Quicksand_Light.otf") format("opentype");
}
@font-face {
  font-family: Quicksand Light Oblique;
  src: url("./fonts/Quicksand_Light_Oblique.otf") format("opentype");
}


html, body {
	font-size:14px;
	margin:0;
	overflow-x:hidden;
	background-color:#fff;
	line-height: 1.8;
	color:#000;
}

h1 {
	font-size: 30px;
	font-family: Comfortaa, sans-serif !important;
	color: #000;
}

h5 {
	font-size: 14px;
	color:#D21D5E;
}

p {
	font-size: 14px;
	font-family: Quicksand Book;
	color:#000;
	text-align:	justify;
	text-justify: auto;
	z-index:20;
	line-height: 1.8;
	height: auto;
}

p, h1, h2, h3, h4, h5, h6, ul {
	margin-bottom: 20px;
}


p.about-def, p.motif-def {
	margin-top: 30px;
	width: 350px;
}

p.sejarah-def {
	top: 0;
	margin-top: 30px;
	width: 400px;
	height: 100px;
	z-index: 200;
}

p.kiat-def{
	top:10%;
	width: 300px;
	height: 430px;
}

p.contact-def, p.monas-def {
	top:10%;
	left:0;
	width: 300px;
}

p.ondel-def, p.tumpal-def {
	top:10%;
	left:0;
	width: 350px;
}

p.gunung-def {
	top:0;
	left:0;
	width: 350px;
}

p.oopr-def {
	top:60%;
	left:0;
	width: 300px;
}

p.member-def {
	top:0;
	left:-200px;
	width: 300px;
	text-align: center;
}

p.member-def > a {
	color: #000;
	padding-bottom: 5px;
}

p.kiat-atas-isi-11 {
	position:absolute;
	top:70%;
	left:46%;
	width: 250px;
	height: auto;
}

p.kiat-atas-isi-12 {
	position:absolute;
	top:10%;
	left:68%;
	width: 200px;
	height: auto;
}

p.kiat-atas-isi-13 {
	position:absolute;
	top:70%;
	left:80%;
	width: 200px;
	height: auto;
}

p.kiat-bawah-isi-21 {
	position:absolute;
	top:10%;
	left:10%;
	width: 250px;
	height: auto;
}

p.kiat-bawah-isi-22 {
	position:absolute;
	top:73%;
	left:35%;
	width: 250px;
	height: auto;
}

h1.pink-title {
	color:#D21D5E;
}

h1.yellow-title {
	color: #EF8C1E;
}

h1.green-title {
	color: #006600;
}

/*dropdown menu*/
.dropbtn {
    background-color: #fff;
    color: #414042;
	padding-top:14px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
	border:none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	font-family: "Comfortaa", Arial;
	font-size:12px;
	z-index:9999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: rgba(246, 211, 179,.8);
	color: #D21D5E;
}

.dropdown-content > li > a:hover, .dropdown-content > li > a:focus {
    color: #D21D5E;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
	z-index: 9999;
	border: 0;
	line-height: 1.42857143 !important;
	border-radius: 0;
	font-family: "Comfortaa", Arial;
	font-size:13px;
	padding-top: 10px !important;
	letter-spacing: 1;
  }

.navbar-nav>li>a {
	color: #414042 ;
	padding-left: 25px !important;
}

.navbar-nav>li>a:focus, .navbar-nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #D21D5E;
}

.navbar-default .navbar-toggle {
	background-color:transparent !important;
	border-color: transparent;
	color: #fff !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #fff;
    border: none;
}

#myNavbar {
	padding-top: 6% !important;
	padding: 3%;
}

.header-con {
	position: fixed;
	top: 0;
	margin-left:0 !important;
	height:112px;
	width:100%;
	padding: 0 !important;
	background-color:#fff;
}

.header-logo {
	margin: 5px;
	margin-top: 0!important;
	padding-left: 20px !important;
}

.menu-header {
	padding:0%;
	text-align:center;
}

.social-header {
	padding-top:15%;
	padding-left:0;
	padding-right:0;
	margin: 0;
}

.search-header {
	padding-top:10%;
	padding-left:0;
	padding-right:15%;
	margin-left:0;
}


/* Social */
a.btn-social, .btn-social {
    border-radius: 50%;
    display: inline-block;
    max-height: 100px;
    max-width: 100px;
	padding-top:30%;
	padding-left:0;
	padding-right:8%;
}

/* Search */
.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}


/* Slide Gambar */
.carousel {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:888;
}

.carousel-inner {
	width: auto;
	margin-left: 0;
	min-height:100%;
	overflow: hidden;
	height:100%;
	z-index:888;
}

.carousel-inner>.item>a>img,.carousel-inner>.item>img {
	top:10%;
	left:0;
	height: 100%;
	width: 100%;
	-webkit-transition:.6s ease-in-out left;
	-moz-transition: 0.6s ease-in-out left;
	-o-transition:.6s ease-in-out left;
	transition:.6s ease-in-out left;
}

.carousel-control {
	z-index:888;
	opacity: 1 !important;
	text-align: center;
	padding-top: 20%;
}

.carousel-control.left {
	left:0;
	background-image: none;
}

.carousel-control .glyphicon-menu-left,.carousel-control .glyphicon-menu-right, {
	width:60px;
	height:60px;
	font-size:60px
}

.carousel-control.right {
	background-image: none;
}


/* CONTAINER */
.kbbi-con {
	position:absolute;
	top:16% !important;
	left:0;
	width:100%;
	height:84% !important;
}

.home-con {
	background-color:#f6d3b3  ;
}

.pink-con{
	background-color:#f6d3b3;
}

.white-con {
	background-color:#fff;
}

/* ISI */
.main {
	position: absolute;
	left:16%;
	font-size: 30px;
}

.about-main, .motif-main {
	top:20%;
}

.sejarah-main {
	top:10%;
	height: 750px;
	overflow-y: hidden;
}

.kiat-main {
	margin-top:10%;
	left:22%;
	height:auto;
}

.contact-main {
	top:30%;
	left:18%;
}

.monas-main, .tumpal-main, .oopr-main {
	top:20%;
	left:18%;
}

.ondel-main {
	top:20%;
	left:60%;
}

.gunung-main {
	top:30%;
	left:60%;
}

.member-main {
	top:20%;
	left:20%;
	text-align: center;
}

.member2-main {
	top:5%;
	left:60%;
	text-align: center;
}

/* SEGITIGA */
.yellow-segitiga, .pink-segitiga {
	position:fixed;
	left: 0;
	z-index:1000;
	float: left;
	height: 50%;
	width: auto;
}

.pink-segitiga-rel {
	position:absolute;
	left:0;
	z-index:1000;
	width: auto;
	height: 50%;
}

.yellow-segitiga-flip, .pink-segitiga-flip {
	position:fixed;
	right: 0;
	z-index:1000;
	float: right;
	height: 50%;
	width: auto;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}


/* FOTO KANAN-KIRI */
.about-foto-kanan > img {
	position: fixed;
	right:-40%;
	top:-2px;
	z-index:1001;
	width:100%;
	height:auto;
}

.sejarah-foto-kanan > img {
	position: fixed;
	float: right;
	right: 0;
	top:16%;
	z-index:10;
	width:60%;
	height:auto;
	margin: auto;
}

.motif-foto-kanan > img {
	position: fixed;
	right:0;
	top:-2px;
	z-index:10;
	width:60%;
	height:100%;
}

.event-foto-kanan {
	position: relative;
	top:100px;
	z-index:10;
	width:100%;
	height:auto;
	padding: 0 !important;
	left: 0 !important;
	float: left;
}

.kiat-foto-kanan > img {
	position: relative;
	left: 45%;
	top:-2px;
	z-index:1002;
	width:auto;
	height:590px;
}

.kiat-foto-kiri > img {
	position: relative;
	left: -5%;
	top:-5px;
	z-index:10;
	width:auto;
	height:588px;
}

.kiat-foto-kanan-bawah > img {
	position:absolute;
	right:0;
	top:-2px;
	z-index:1002;
	height:592px;
	width: auto;
}

.contact-foto-kanan > img {
	position:absolute;
	right:-2%;
	top:0;
	z-index:10;
	width:auto;
	height:588px;
}

.monas-foto-kanan > img, .oopr-foto-kanan > img, .member-foto-kanan > img {
	position:absolute;
	right:-2%;
	top:0;
	z-index:10;
	width:auto;
	height:588px;
}

.ondel-foto-kiri > img, .gunung-foto-kanan > img {
	position:absolute;
	left:-5%;
	top:0;
	z-index:10;
	width:auto;
	height:588px;
}

.tumpal-foto-kanan> img {
	position:absolute;
	right:-4%;
	top:0;
	z-index:10;
	width:auto;
	height:588px;
}

.logomember > img {
	position:relative;
	padding:0;
	left: 0;
	width:auto;
	height:100px;
}

.buttonnext {
  background-color: #D21D5E;
  border: none;
  color: #fff !important;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 30%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
}

.buttonnext span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonnext span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonnext:hover span {
  padding-right: 25px;
}

.buttonnext:hover span:after {
  opacity: 1;
  right: 0;
}

.logomember2 {
	position:relative;
	padding:0;
}

.konten-member2juduljudul {
	position:absolute;
	top:10%;
	left:3%;
	width: 300px;
	height: auto;
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	font-family: "Quicksand Book";
	color:#EF8C1E;
	font-size:14px;
	text-align:center;
	text-justify: auto;
	z-index:20;
	line-height: 1.8;
}

.konten-member2isi {
	position:absolute;
	top:60%;
	left:0;
	width: 300px;
	height: 350px;
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	font-family: "Quicksand Book";
	color:#000;
	font-size:14px;
	text-align:inherit;
	text-justify: auto;
	z-index:20;
	line-height: 1.8;
}

.buttonnext2 {
  background-color: #006600;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 30%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonnext2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonnext2 span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonnext2:hover span {
  padding-right: 25px;
}

.buttonnext2:hover span:after {
  opacity: 1;
  right: 0;
}

.foto-kanan-member2 {
	position:absolute;
	left:-2%;
	top:0;
	z-index:10;
	width:60%;
	height:100%;
	overflow:hidden;
}

/* FOTO KIAT */
.kiat-foto {
	position:absolute;
	z-index:19;
	height:auto;
}

.kiat-atas-foto-11 {
	left:43%;
	top:8%;
	width:45%;
}

.kiat-atas-foto-12 {
	left:63%;
	top:21%;
	width:40%;
}

.kiat-atas-foto-13 {
	left:80%;
	top:5%;
	width:23%;
}

.foto-kiat-bawah-21 {
	left:4%;
	bottom:-5px;
	width:auto;
	overflow: hidden;
}

.foto-kiat-bawah-22 {
	left:35%;
	top:3%;
	width:auto;
}

/* ANGKA */
.kiat-ikon {
	position:absolute;
	z-index:20;
	width:20px;
	height:20px;
}

.kiat-ikon-11 {
	left:43%;
	top:71%;
}

.kiat-ikon-12 {
	left:65%;
	top:11%;
}

.kiat-ikon-13 {
	left:78%;
	top:70%;
}

.kiat-ikon-21 {
	left:7%;
	top:10%;
}

.kiat-ikon-22 {
	left:33%;
	top:73%;
}

.kiat-bawah-con {
	position:relative;
	top:-5px;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}