# BEGIN
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /kbbi
RewriteRule ^home\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /kbbi/homehtml [L]
</IfModule>

# END