/**** This CSS is Made for KBBI Project ****/


html, body {
	font-family: 'Quicksand Book', sans-serif;
	font-size:14px;
	margin:0;
	overflow-x:hidden;
	background-color:#fff;
	line-height: 1.8;
	color:#000;
}

h1 {
	font-size: 30px;
	font-family: 'Comfortaa', cursive;
	color:#D21D5E;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 14px;
}

p {
	font-size: 14px;
	font-family: 'Quicksand Book', sans-serif, cursive;
	color:#000;
	text-align:justify;
	text-justify: auto;
	width: 34%;
	margin-top: 40px;
}

p, h1, h2, h3, h4, h5, h6, ul {
	margin-bottom: 20px;
}

/*dropdown menu*/
.dropbtn {
    background-color: #fff;
    color: #414042;
	padding-top:14px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    font-size: 16px;
    cursor: pointer;
	border:none;
	font-family: 'Quicksand Bold', sans-serif;
	font-size:16px;
	font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	font-family: 'Quicksand Bold', sans-serif;
	font-size:14px;
	font-weight: bold;
	z-index:9999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #006600;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	font-family: 'Quicksand Bold', sans-serif;
	font-size:14px;
	font-weight: bold;
	z-index:9998;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a:hover {
	background-color: #006600;
}

.dropdown:hover .dropdown-content2 {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #006600;
	color:#fff;
	border:none;
}

.container {
	padding-right:0;
	padding-left:0;
	margin-right:0;
	margin-left:0;
	width:100%;
	margin-top:10%;
	right:0;
}

.navbar {
	margin-bottom: 0;
	z-index: 9999;
	border: 0;
	line-height: 1.42857143 !important;
	border-radius: 0;
	font-family: 'Quicksand Bold', sans-serif;
	font-size:16px;
	font-weight: bold;
  }
  
.navbar li a, .navbar .navbar-brand {
	color: #414042  !important;
}
 
.navbar-nav li a:hover, .navbar-nav li.active a {
	color: #fff !important;
	background-color: #006600!important;
}

.navbar-default .navbar-toggle {
	background-color:transparent !important;
	border-color: transparent;
	color: #fff !important;
}

.header-container {
	position:fixed;
	margin-top:0;
	margin-left:0;
	height:21%;
	width:100%;
	background-color:#fff;
}

.header-logo {
	padding:15%;
}

.menu-header {
	padding-top:8%;
	padding-left:5%;
	padding-right:5%;
}

.search-header {
	padding-top:8%;
	padding-left:5%;
	padding-right:5%;
}

/* Social */
a.btn-social, .btn-social {
    border-radius: 50%;
    display: inline-block;
    max-height: 100px;
    max-width: 100px;
	padding-top:30%;
	padding-left:8%;
	padding-right:8%;
}

/* Search */
.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

/* Slide Gambar */
.carousel {
	position:absolute;
	top:20%;
	left:0;
	width:100%;
	height:80%;
}

.carousel-inner {
	width: auto;
	margin-left: 0;
	min-height:100%;
	overflow: hidden;
	height:inherit;
}

.carousel-inner>.item>a>img,.carousel-inner>.item>img {
	display: block;
	height: 100%;
	top:0;
	left:0;
	width: 100%;
	-webkit-transition:.6s ease-in-out left;
	-o-transition:.6s ease-in-out left;
	transition:.6s ease-in-out left;
}

.carousel-control {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:15%;
	font-size:20px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,.6);
	background-color:rgba(0,0,0,0);
	filter:alpha(opacity=50);
	opacity:.5
}

.carousel-control.left {
	left:0;
	background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	background-image:-o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
	background-image:linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat:repeat-x
}

.carousel-control.right {
	right:0;
	left:auto;
	background-image:-webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image:-o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
	background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	background-repeat:repeat-x
}

/* about */
.container-konten{
	background-color:#f6d3b3;
	position:absolute;
	top:20%;
	left:0;
	width:100%;
	height:80%;
}

.konten-about {
	position:absolute;
	top:20%;
	left:16%;
}

.gambar-tepi {
	position:fixed;
	left:-130px;
	top:0;
	z-index:1000;
}

.foto-kanan {
	position:absolute;
	right:0;
	top:-2px;
	z-index:1001;
	width:60%;
	height:100%;
}

/*Sejarah Batik Betawi*/
.sejarahbb-container {
	background-color:#fff;
	position:absolute;
	top:20%;
	left:0;
	width:100%;
	height:80%;
}

.konten-sejarah {
	position:absolute;
	top:10%;
	left:16%;
}

.konten-sejarahb {
	position:absolute;
	top:10%;
	left:0;
	width:400px;
	height: 430px;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	font-family: 'Quicksand Book', sans-serif, cursive;
	color:#000;
	text-align:justify;
	text-justify: auto;
	z-index:20;
	line-height: 1.8;
}

.foto-kanan-sejarah {
	position:absolute;
	right:-10%;
	top:-2px;
	z-index:10;
	width:60%;
	height:100%;
	overflow:hidden;
}

/*Motif Batik Betawi*/
.motifbb-container {
	background-color:#f6d3b3;
	position:absolute;
	top:20%;
	left:0;
	width:100%;
	height:80%;
}

.konten-motifbbjudul {
	position:absolute;
	top:20%;
	left:18%;
}

.konten-motifbbisi{
	position:absolute;
	top:10%;
	left:0;
	width: 400px;
	height: 430px;
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	font-family: 'Quicksand Book', sans-serif, cursive;
	color:#000;
	text-align:justify;
	text-justify: auto;
	z-index:20;
	line-height: 1.8;
}

.foto-kanan-motifbb {
	position:absolute;
	right:0;
	top:0;
	z-index:10;
	width:60%;
	height:100%;
	overflow:hidden;
}

/*Motif Batik Monas*/
.monas-container {
	background-color:#fff;
	position:absolute;
	top:20%;
	left:0;
	width:100%;
	height:80%;
}

.konten-monasjudul {
	position:absolute;
	top:30%;
	left:18%;
	font-size: 30px;
	font-family: 'Comfortaa', cursive;
	color:#EF8C1E;
}

.konten-monasisi{
	position:absolute;
	top:10%;
	left:0;
	width: 300px;
	height: 350px;
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	font-family: 'Quicksand Book', sans-serif, cursive;
	color:#000;
	font-size:14px;
	text-align:justify;
	text-justify: auto;
	z-index:20;
	line-height: 1.8;
}

.foto-kanan-monas {
	position:absolute;
	right:-2%;
	top:0;
	z-index:10;
	width:60%;
	height:100%;
	overflow:hidden;
}